/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: black;
	text-decoration: none;
}

/* selected link */
a:active {
    color: solid gray;
}

button{
	color: white;
	font-size: 14pt;
	background-color: #1ac6ff;
	border: none;
	text-decoration: none;
	padding: 15px 35px;
}

.button:hover {
    color: white;
    background-color: blue;
}

div.container {
    width: 100%;
    border: 1px;
	margin-top: 0px;
	margin-bottom: 150px;
}

ul {
	font-family: "Arial";
    list-style-type: none;
    overflow: hidden;
    background-color: #1ac6ff;
	text-align: center;
	padding: 30px;
}
li{
	font-family: "Arial";
	color: white;
	display: inline;
	margin: 20px;
	padding: 10px;
	font-size: 15pt;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color:  #1ac6ff;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
	font-size: 12pt;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the list */
ul.breadcrumb {
	margin-top: 0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	padding:0px;
    list-style: none;
    background-color: white;
    font-size: 10pt;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    color: black;
    content: '\3E';
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
	
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}

header{
	padding-top: 5px;
	padding-bottom: 5px;
    color: white;
    background-color: #1ac6ff;
    clear: left;
    text-align: center;
}
h1{
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
h2{
	margin-top: 0px;
	margin-left: 25px;
	margin-bottom: 0px;
	color: black;
}
h3{
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 0px;
	color: black;
}
h4{
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 0px;
	color: black;
}
p{
	text-align: left;
	font-size: 12pt;
}

.wrapper{
	text-align:center;
}
.button{
	position: absolute;
}

.two-wide > * {
    display:inline-block;
    width:49%;
    vertical-align:top;
}

/* #########################################
                FORM
########################################  */



form.submission-form div input,
form.submission-form div select,
form.submission-form div textarea{
    width:100%;
}
